@import "tailwindcss";

.noScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.noScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}